/* DEFAULTS */
:root {
	--fontSize: 16px;
}
html {
	font-size: var(--fontSize);
}
body {
	font-family: Roboto, 'Open Sans', FreeSans, 'Segoe UI', Geneva, sans-serif;
	font-size: 0.9rem;
	padding: 0;
	margin: 0;
	background-color: #2F363D;
}
a {
	color: #467AA3;
	text-decoration: underline;
}
/* WRAPPER */
body.filter .wrapper {
	height: calc(100vh - 70px);
	margin-top: 70px;
}
.wrapper {
	position: relative;
	overflow: auto;
	width: 100%;
	height: 100vh;
	margin-top: 0;
}
/* TABLE */
table {
	border-spacing: 0;
	vertical-align: top;
	text-align: center;
}
th, td {
	padding: 0.7rem 0.5rem;
}
th, .sticky {
	position: -webkit-sticky;
	position: sticky;
}
thead {
	position: relative;
	z-index: 10;
	height: 4rem;
}
th {
	top: 0;
	background-color: #37474f;
	color: #FFF;
	font-weight: bold;
	min-height: 3rem;
}
th:first-child {
	max-width: 200px;
	min-width: 200px;
	left: 0;
	z-index: 2;
}
.sticky {
	left: 0;
	z-index: 1;
}
tbody th {
	background-color: #37474f;
	color: #FFF;
	font-weight: bold;
}
tfoot {
	height: auto;
}
.small {
	font-size: 0.7rem;
}
/* COLORS */
.darkgrey {
	background-color: #2F363D;
	color: #FFF;
	font-weight: bold;
	height: 2rem;
}
.darkgrey a {
	color: #FFF;
}
.green {
	background-color: #DBEBA4;
}
.yellow {
	background-color: #FFF17E;
}
.red {
	background-color: #FDB4B4;
}
.orange {
	background-color: #FFCB75;
}
.white {
	background-color: #FFF;
}
.blue {
	background-color: #628098;
}
.blue a {
	color: #FFF;
}
/* FORM/FILTER BUTTON */
form {
	z-index: 20;
	color: #FFF;
	background-color: #2F363D;
	padding: 15px;
	position: absolute;
	top: 0;
	left: 0;
}
button {
	width: auto;
	height: 40px;
	display: block;
	border: none;
	background: #628098;
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
	cursor: pointer;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
}
input {
	width: 15px;
	height: 15px;
	margin-right: 10px;
}
fieldset {
	border: none;
	margin-top: 15px;
	padding: 0;
}
label {
	display: block;
	user-select: none;
	height: 25px;
	font-size: 16px;
}
label:first-of-type {
	margin-top: 15px;
}
.hide {
	display: none;
}
/* FONTSIZE BUTTONS */
.fontsizecontrol {
	position: absolute;
	left: 200px;
	top: 15px;
	display: inline-block;
}
.fontsizecontrol button {
	font-size: 16px;
	display: inline-block;
	margin: 0 5px;
}
@media all and (max-width: 600px) {
	/* TABLE */
	th:first-child {
		min-width: 130px;
	}
	/* FORM/FILTER BUTTON */
	input {
		width: 20px;
		height: 20px;
	}
	label {
		height: 32px;
		font-size: 16px;
	}
}
@media all and (max-height: 667px) {
	/* FORM/FILTER BUTTON */
	label {
		height: 25px;
		font-size: 16px;
	}
}	
